{% extends 'base.html' %}
{% block title %}{{ target_profile.username }}'s Profile{% endblock %}


{% block content %}

  <ul>
    <li>{{ target_profile.username }}</li>
    <li>{{ target_profile.first_name }} {{ target_profile.last_name }}</li>
    <li>{{ user_data.following.all.count }} following</li>
    <li>{{ target_profile.following.all.count }} followers</li>
  </ul>
  
  {% if not user_requests_self %}
    {% if following %}
      <form action="" method="POST">
        {% csrf_token %} 
        <button type="submit" name="follow">Follow</button>
      </form>
    {% else %}
      <form action="" method="POST">
        {% csrf_token %} 
        <button type="submit" name="unfollow">Unfollow</button>
      </form>
    {% endif %}
  {% endif %}

  Recent posts:
  {% if profile_posts %}
    <ul>
      {% for post in profile_posts %}
        {% if not post.private or user_requests_self %}
          <li>
            <a href="{% url 'detail' post.id %}">{{ post.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% else %}
  <ul>
    <li>No activities available</li>
  </ul>
  {% endif %}

  <a href="{% url 'home' %}">Return to home</a>
{% endblock %}
