{% extends 'base.html' %}
{% block title %}{{ target_profile_user.username }}'s Profile{% endblock %}


{% block content %}

  <ul>
    <li>{{ target_profile_user.username }}</li>
    <li>{{ target_profile_user.first_name }} {{ target_profile_user.last_name }}</li>
    <li>{{ target_profile_data.location }}</li>
    <li>{{ target_profile_data.following.all.count }} Following</li>
    <li>{{ target_profile_user.following.all.count }} Followers</li>
    <li>Daily Calorie Goal: {{ target_profile_data.daily_calories_goal }} </li>
    <li>{{ calories_burned_today }} Calories Burned Today</li>
  </ul>
  
  {% if not user_requests_self %}
      <form action="" method="POST">
        {% csrf_token %}
        {% if following %}
          <button type="submit" class="button small" name="unfollow">Unfollow</button>
        {% else %}
          <button type="submit" class="button small" name="follow">Follow</button>
        {% endif %}
      </form>    
  {% endif %}

  Recent posts:
  <ul>
    {% if profile_posts %}
      {% for post in profile_posts %}
        {% if not post.private or user_requests_self %}
          <li>
            <a href="{% url 'detail' post.id %}">{{ post.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    {% else %}
      <li>No activities available</li>
    {% endif %}
  </ul>

{% endblock %}
