{% extends 'base.html' %}
{% block title %}{{ post.title }}{% endblock %}


{% block content %}
  <p>{{ post.title }} by <a href="{% url 'profile' post.user.id %}">{{ post.user.username }}</a></p>
  <p>{{ post.pub_date|date:"m/d/Y" }} at {{ post.pub_date|date:"H:i:s" }}</p>
  <p>{{ post.reps }}x {{ post.description }}</p>

  {% if post.time %}
    <p>{{ post.time }}</p>
    <p>{{ post.calories|floatformat:0 }}</p>
  {% endif %}

  {% if user_requests_self %}
    <form action="" method="POST">
      {% csrf_token %}
      <button type="submit" name="delete">Delete</button>
    </form>
  {% endif %}
{% endblock %}
