{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <script src="{% static 'js/example.js' %}"></script> <!-- This is how to include a static file -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
  <title>Bulk - {% block title %}{% endblock %}</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>
<body>
  {% if links %}
    <nav class="navbar">
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'user_index' %}">Users</a></li>
        <li class="dropdown">
          <a href="#" class="dropbtn">Create New</a>
          <div class="dropdown-content">
            {% for view, label in links %}
              <a href="{% url view %}">{{ label }}</a>
            {% endfor %}
          </div>
        </li>
        <li><a href="{% url 'settings' %}">Settings</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
      </ul>
    </nav>
  {% endif %}
  
  {% block content %}
  {% endblock %}
</body>
</html>
