{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  <div class="welcome-message">
    Hi {{ user.username }}! Welcome to Bulk.
  </div>

  <nav class="navbar">
    <ul>
      <li><a href="{% url 'user_index' %}">Users</a></li>
      <li><a href="{% url 'settings' %}">Settings</a></li>
      <li class="dropdown">
        <a href="#" class="dropbtn">Actions</a>
        <div class="dropdown-content">
          <a href="{% url 'add_meal' %}">Add Meal</a>
          <a href="{% url 'workout_tracker' %}">Workout Tracker</a>
          <a href="{% url 'add_swimWorkout' %}">Add Swim</a>
          <a href="{% url 'upload' %}">Upload Run</a>
        </div>
      </li>
      <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
  </nav>

  Recent posts:
  {% if latest_posts %}
    <ul>
      {% for post in latest_posts %}
        {% if not post.private or post.user.id == user.id %}
          <li>
            <a href="{% url 'detail' post.id %}">{{ post.title }} by {{ post.user.username }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% else %}
    <p>No posts are available.</p>
  {% endif %}
{% endblock %}
