{% extends 'base.html' %}
{% block title %}Home{% endblock %}


{% block content %}
  Hi {{ user.username }}! Welcome to Bulk.
  <ul>
    <li>
      <a href="{% url 'user_index' %}">Users</a>
    </li>
    <li>
      <a href="{% url 'settings' %}">Settings</a>
    </li>
    <li>
      <a href="{% url 'food_tracker'%}">Food Tracker</a>
    </li>
    <li>
      <a href="{% url 'logout' %}">Logout</a>
    </li>
  </ul>

  Recent posts:
  {% if latest_posts %}
    <ul>
      {% for post in latest_posts %}
        <li>
          <a href="{% url 'detail' post.id %}">{{ post.title }} by {{ post.user.username }}</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No posts are available.</p>
  {% endif %}

  <a href="{% url 'upload' %}">Upload</a>
{% endblock %}
