{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}! Welcome to Bulk.
  <ul>
    <li>
      <a href="{% url 'settings' %}">Settings</a>
    </li>
    <li>
      <a href="{% url 'logout' %}">Logout</a>
    </li>
    <li>
      <a href="{% url 'food_tracker'%}">Food Tracker</a>
    </li>
    <li>
      <a href="{% url 'workout_tracker'%}">Workout Tracker</a>
    </li>
  </ul>
{% else %}
  <p>You are not logged in</p>
  <ul>
    <li>
      <a href="{% url 'login' %}">Login</a>
    </li>
    <li>
      <a href="{% url 'signup' %}">Signup</a>
    </li>
  </ul>
{% endif %}
{% endblock %}
