{% extends 'base.html' %}
{% load posts}
{% block title %}Workout_tracker{% endblock %}
{% block content %}

<div class="Container">
    <h1>Workout Tracker</h1>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="workout_dropdown">
            <label for="">Pick a Workout</label>
            <select name="workout_display" id="workout_display">
            </select>
        </div>
        <div class="input_reps">
            <label for="">Number of Reps</label>
            <input type="text" id="number_reps" name="number_reps">
            </input>
        </div>


        <script data-workout_name="{{workouts}}">
            const workout_data = document.currentScript.dataset;
            const workout_names = workout_data.workout_name;
            const obj_work = JSON.parse(workout_names);
            
            if (workout_names.length == 0){ // show no option if at the end of list
            document.getElementById("workout_display").innerHTML = "<option></option>" // sets the select option to null value
            }
            else{
                var names = "";
                for(nm in obj_work){ // loops though and changes the names string to each value in obj i.e pushups etc.
                    names += "<option value='"+ obj_work[nm] +"'>" + obj_work[nm] + "</option>";
                }
            }
            document.getElementById("workout_display").innerHTML = names; //Sets the Id for select to that name           

        </script>
    </form>
</div>

{% endblock %}